<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.polytech.lmu.ui.handlers.LMUHandler"
            id="fr.polytech.lmu.ui.commands.LMUCommand"
            name="LMUCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="fr.polytech.lmu.ui.commands.LMUCommand"
            class="fr.polytech.lmu.ui.handlers.LMUHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="lmu-menu"
               label="LMU Menu">
            <command
                  commandId="fr.polytech.lmu.ui.commands.LMUCommand"
                  label="=&gt; LMUCommand"
                  style="push"
                  tooltip="LMU Menu">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="java">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
